@import url("./styles/nav-content.css");
@import url("./styles/header.css");
@import url("./styles/provide.css");
@import url("./styles/reset.css");
@import url("./styles/products.css");
@import url("./styles/team.css");
@import url("./styles/notifications.css");
@import url("./styles/contact.css");
@import url("./styles/footer.css");

:root {
  --clr-red: #ff2d2d;
  --text-primary: #333;
  --text-secondary: #4c4c4c;
  --text-color: #000000;
  --font-family: "Open Sans", sans-serif;
}

.active-menu {
  color: var(--clr-red);
}

body {
  font-family: "Anton", sans-serif;
  font-family: "Open Sans", sans-serif;
}

a,
button {
  cursor: pointer;
}

header {
  width: 1249px;
  margin: 0 auto;
}

.nav-header-wrapper {
  width: 1579px;
  height: 688px;
  background-color: #f6f2f2;
  margin-bottom: 80px;
}

.underline {
  width: 132px;
  height: 2px;
  background: var(--clr-red);
}

.text {
  font-size: 16px;
  color: var(--text-secondary);
  line-height: 28px;
  font-weight: 400;
  font-family: "Open Sans";
}

.container {
  width: 1577px;
}

.content {
  max-width: 1249px;
  margin: 0 auto;
}

.under {
  width: 1249px;
  height: 1px;
  background: lightslategray;
  margin-top: 58px;
  margin-bottom: 94px;
}
