@import url("./styles/nav-content.css");
@import url("./styles/header.css");
@import url("./styles/provide.css");
@import url("./styles/reset.css");
@import url("./styles/products.css");
@import url("./styles/team.css");
@import url("./styles/notifications.css");
@import url("./styles/contact.css");
@import url("./styles/footer.css");
@import url("./styles/grid.css");

:root {
  --clr-red: #ff2d2d;
  --text-primary: #333;
  --text-secondary: #4c4c4c;
  --text-color: #000000;
  --font-family: "Open Sans", sans-serif;
}

.active-menu {
  color: var(--clr-red);
}

body {
  font-family: "Anton", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.nav-header-wrapper {
  height: 686px;
  background-color: #f6f2f2;
  margin-bottom: 110px;
  padding-top: 29px;
}

.underline {
  width: 132px;
  height: 2px;
  background: var(--clr-red);
}

.text {
  font-size: 16px;
  color: var(--text-secondary);
  line-height: 28px;
  font-weight: 400;
  font-family: var(--font-family);
}

.title {
  font-size: 42px;
  font-weight: bold;
  color: var(--text-primary);
  text-transform: uppercase;
  font-family: var(--font-family);
}

.container {
  width: 1577px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.content {
  max-width: 1249px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .content {
    width: 90%;
  }

  .nav-header-wrapper {
    width: 100%;
    margin-bottom: 50px;
  }

  .title {
    font-size: 29px;
  }

  .underline {
    margin-top: 50px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .content {
    width: 90%;
  }

  .nav-header-wrapper {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }

  .title {
    font-size: 29px;
  }

  .underline {
    margin-top: 50px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .container {
    width: 100%;
  }

  .content {
    width: 90%;
  }

  .nav-header-wrapper {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }

  .title {
    font-size: 29px;
  }

  .underline {
    margin-top: 50px;
  }
  .hidden {
    display: none;
  }
}
