footer {
  background-color: #313030;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  height: 129px;
  align-items: center;
}

footer p {
  font-size: 16px;
  line-height: 26px;
  color: #b8b8b8;
  font-weight: 400;
  font-family: "Open Sans";
}

footer .social {
  width: 186px;
  display: flex;
  justify-content: inherit;
}

.twitter:hover {
  background-color: rgba(0, 0, 255, 0.995);
  border-radius: 50%;
}

.linkedin:hover {
  background-color: rgba(0, 0, 255, 0.769);
  border-radius: 50%;
}

.google:hover {
  background-color: rgb(155, 220, 186);
  border-radius: 50%;
}

.facebook:hover {
  background-color: rgba(0, 0, 255, 0.427);
  border-radius: 50%;
}

@media (min-width: 320px) and (max-width: 576px) {
  .footer-wrapper {
    width: 100%;
  }

  footer .social {
    width: 100%;
  }
}
