nav {
  width: 1249px;
  margin: 0 auto;
}

.nav-container {
  height: 89px;
  margin-top: 29px;
  align-items: center;
  display: flex;
  justify-content: center;
  background: var(--text-primary);
  margin-bottom: 108px;
}

.nav-links {
  display: flex;
}

.nav-links li {
  padding: 33px 33px;
}

.nav-links li:hover {
  height: 89px;
  filter: drop-shadow(-0.313px -1.975px 17.5px rgba(0, 1, 1, 0.3));
  background-color: var(--clr-red);
  cursor: pointer;
}

.nav-links li a {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #e0e0e0;
  font-weight: 700;
  font-family: var(--font-family);
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .nav-links li a {
    font-size: 10px;
  }

  .nav-container {
    margin-bottom: 45px;
  }
}
