nav {
  width: 1249px;
  margin: 0 auto;
}

.toggle-button {
  position: absolute;
  display: none;
  right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  width: 40px;
  height: 20px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--text-primary);
  border-radius: 10px;
}

.nav-container {
  height: 89px;
  /* margin-top: 29px; */
  align-items: center;
  display: flex;
  justify-content: center;
  background: var(--text-primary);
  margin-bottom: 108px;
}

.nav-links {
  display: flex;
}

.nav-links li {
  padding: 33px 33px;
}

.nav-links li:hover {
  height: 89px;
  filter: drop-shadow(-0.313px -1.975px 17.5px rgba(0, 1, 1, 0.3));
  background-color: var(--clr-red);
  cursor: pointer;
}

.nav-links li a {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #e0e0e0;
  font-weight: 700;
  font-family: var(--font-family);
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .nav-links li a {
    font-size: 15px;
  }

  .nav-container {
    margin-bottom: 45px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .nav-links li a {
    font-size: 13px;
  }

  .nav-container {
    margin-bottom: 45px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .nav-links li a {
    font-size: 13px;
  }

  .nav-container {
    margin-bottom: 45px;
    height: 100%;
    display: flex;
  }

  .toggle-button {
    display: flex;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .nav-links li {
    width: 100%;
    padding: 20px;
  }

  .nav-links.active {
    display: flex;
  }
}
