.products {
  margin-bottom: 122px;
  padding-top: 95px;
}

.section-title {
  letter-spacing: 1px;
  margin-left: 36px;
}

.products-text-block-info {
  margin-top: 16px;
  margin-left: -4px;
  width: 470px;
}

.products-text-block {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products .gallery {
  margin-top: 84px;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  margin-top: 66px;
}

.gallery-images img {
  width: 297px;
  height: 290px;
}

.gallery-menu li {
  text-transform: uppercase;
  margin-right: 55px;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 24px;
  color: var(--text-color);
  font-weight: 600;
  font-family: "Open Sans";
}

.gallery-menu {
  display: flex;
  justify-content: center;
  margin-left: 33px;
}

.gallery-menu li:last-child {
  margin-right: 0;
}

.underline-product {
  margin-top: 25px;
  margin-left: 30px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .products {
    margin-bottom: 50px;
  }

  .products .gallery {
    margin-top: 30px;
  }

  .gallery-menu {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
  }

  .gallery-menu li {
    margin-right: 10px;
    font-size: 20px;
  }

  .gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 0;
    margin-top: 20px;
  }

  .gallery-images img {
    width: 23%;
    height: 50%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .products {
    margin-bottom: 50px;
  }

  .products .gallery {
    margin-top: 30px;
  }

  .gallery-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0;
  }

  .gallery-menu li {
    margin-right: 10px;
    font-size: 20px;
    padding: 10px 10px;
  }

  .gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 0;
    margin-top: 20px;
  }

  .gallery-images img {
    width: 47%;
    height: 50%;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .products {
    margin-bottom: 50px;
  }

  .section-title {
    margin-left: 0;
  }

  .products-text-block-info {
    margin-top: 16px;
    margin-left: 0;
    width: 100%;
  }

  .underline-product {
    margin-left: 0;
  }

  .products .gallery {
    margin-top: 30px;
  }

  .gallery-menu {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    text-align: center;
  }

  .gallery-menu li {
    margin-right: 10px;
    font-size: 20px;
    padding: 10px 10px;
  }

  .gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 0;
    margin-top: 20px;
  }

  .gallery-images img {
    width: 100%;
  }
}
